<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="./jdbc.properties"/>
    <settings>
        <!-- e.g. map user_attribute to userAttribute -->
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- default false -->
        <setting name="lazyLoadingEnabled" value="true"/> <!-- default false -->
    </settings>
    <typeAliases>
        <!-- e.g. alias "com.bronya.mybatisdemo.pojo.User" to "User" -->
        <package name="com.bronya.mybatisdemo.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- com.mysql.cj.jdbc.Driver -->
                <property name="driver" value="${jdbc.driver}"/>
                <!-- jdbc:mysql:///bronya -->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers> <!-- pwd = ${mybatis-demo}/src/main/resources -->
        <!-- <mapper resource="./com/bronya/mybatisdemo/mapper/UserMapper.xml"/> -->

        <package name="com.bronya.mybatisdemo.mapper"/>
        <!-- equivalent to
            <mapper resource="./com/bronya/mybatisdemo/mapper/*.xml"/>
        -->
    </mappers>
</configuration>
