<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- UserMapper.class.getName() = "com.bronya.mybatisdemo.mapper.UserMapper" -->
<mapper namespace="com.bronya.mybatisdemo.mapper.UserMapper">
    <!-- int insertUser(User user); -->
    <insert id="insertUser">
        insert into t_user values
        (null, 'admin', '1024', 1, 'male', 'admin@bronya.com'),
        (null, 'root', '2048', 2, 'female', 'root@bronya.com');
    </insert>

    <!-- int updateUser(); -->
    <update id="updateUser">
        update t_user set password = "mamba" where id = 1;
    </update>

    <!-- int deleteUser(); -->
    <delete id="deleteUser">
        delete from t_user where id = 2;
    </delete>

    <!-- User getUserById()); -->
    <select id="getUserById" resultType="com.bronya.mybatisdemo.pojo.User">
        select * from t_user where id = 1;
    </select>

    <!-- List<User> getUsers(); -->
    <select id="getUsers" resultType="User">
        select * from t_user;
    </select>
</mapper>
