<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- #{} automatically add '' to string -->
<!-- UserMapper.class.getName() = "com.bronya.mybatisdemo.mapper.UserMapper" -->
<mapper namespace="com.bronya.mybatisdemo.mapper.UserMapper">
    <!-- List<User> getUserList(); -->
    <select id="getUserList" resultType="com.bronya.mybatisdemo.pojo.User">
        select * from t_user;
    </select>

    <!-- User getUserByUsername(String username); -->
    <!-- mybatis-config.xml:11 aliases "com.bronya.mybatisdemo.pojo.User" to "User" -->
    <select id="getUserByUsername" resultType="User">
        <!-- select * from t_user where username = '${username}'; -->
        select * from t_user where username = #{username};
    </select>

    <!-- User getUserByUsernamePassword(String username, String password); -->
    <select id="getUserByUsernamePassword" resultType="User">
        <!--TODO map[arg0] = map[param1] = username -->
        <!--TODO map[arg1] = map[param2] = password -->
        select * from t_user where username = #{arg0} and password = #{arg1};
    </select>

    <!-- User getUserByMap(Map<String, Object> map); -->
    <select id="getUserByMap" resultType="User">
        select * from t_user where username = #{username} and password = #{password};
    </select>

    <!-- int insertUser(User user); -->
    <insert id="insertUser">
        <!--TODO com.bronya.mybatisdemo.pojo.User getAttribute(); -> #{attribute} -->
        insert into t_user values
        (null, #{username}, #{password}, #{age}, #{sex}, #{email});
    </insert>

    <!-- User getUserByParam(@Param("p1") String username, @Param("p2") String password);  -->
    <select id="getUserByParam">
        <!--TODO map[p1] = map[param1] = username -->
        <!--TODO map[p2] = map[param2] = password -->
        select * from t_user where username = #{p1} and password = #{p2};
    </select>

    <!-- int getUserCount(); -->
    <!-- resultType: java.lang.Integer -->
    <!-- MyBatis aliases "java.lang.Integer" to int, Integer, ... -->
    <select id="getUserCount" resultType="int">
        select count(*) from t_user;
    </select>

    <!-- Map<String, Object> getMapById(@Param("id") Integer id); -->
    <!-- MyBatis aliases "java.util.Map" to Map -->
    <select id="getMapById" resultType="Map">
        select * from t_user where id = #{id};
    </select>

    <!-- List<Map<String, Object>> getMapList(); -->
    <select id="getMapList" resultType="Map">
        select * from t_user;
    </select>

    <!-- @MapKey("id") -->
    <!-- Map<Integer, Object> getMap(); -->
    <select id="getMap" resultType="Map">
        select * from t_user;
    </select>

    <!-- List<User> fuzzyQuery(@Param("username") String username); -->
    <select id="fuzzyQuery" resultType="User">
        <!-- select * from t_user where username like '%${username}%'; -->

        <!-- select * from t_user where username like concat('%', '${username}', '%'); -->
        <!-- select * from t_user where username like concat('%', #{username}, '%'); -->

        <!-- select * from t_user where username like "%"'${username}'"%"; -->
        select * from t_user where username like "%"#{username}"%"; <!-- recommend -->
    </select>

    <!-- int batchDelete(@Param("ids") String ids); -->
    <delete id="batchDelete">
        delete from t_user where id in (${ids});
    </delete>

    <!-- List<User> dynamicTableName(@Param("tableName") String tableName); -->
    <select id="dynamicTableName" resultType="User">
        select * from ${tableName};
    </select>

    <!-- void primaryKeyRetrieval(User user); -->
    <insert id="primaryKeyRetrieval" useGeneratedKeys="true"
            keyProperty="id"> <!-- user.setId(autoGeneratedPrimaryKey); -->
        insert into t_user values (null, #{username}, #{password}, #{age}, #{sex}, #{email});
    </insert>
</mapper>
